<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    
  
    <form action="/drinks/<%=drink.id%>/edit?_method=put" method="POST"> 
   
    <h1 class="edit-drink"> Edit Drink</h3>

    <div class="edit-page">
    Name: <input type="text" name="name" >
    <br><br>
    Image: <input type="url" name="image" placeholder="Image url">
    <br><br>
    Origin: <input type="text" name="origin"placeholder="Origin" /><br/><br>
    Rating: <input type="number" name="rating"placeholder="Rating" /><br/><br>
    About: <TEXTAREA Name="content" ROWS="5" COLS="25"></TEXTAREA>
    </TEXTAREA> 
    <br><br>
    <input type="submit" value="update drink">
</div>
</form>

  
</body>
<%- include ('./partials/footer.ejs') %>

</html>