<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Document</title>
</head>
<body>
    <h1>New Drink </h1>
    <div class="new-container">
    <form action="/drinks" method="POST">
        Name: <input type="text" name="name"placeholder="Name" />
        <br><br>
        Image: <input type="url" name="image" placeholder="Image url">
        <br><br>
        About: <input type="text" name="about"placeholder="About" />
        <br/><br>
        Origin: <input type="text" name="origin"placeholder="Origin" /><br/><br>
        Rating: <input type="number" name="rating"placeholder="Rating" /><br/><br>
       <input type="submit" value="Create Drink"/>

    </form>
</div>
    
</body>
</html>