<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Document</title>
</head>
<body>
    <h1>New </h1>
    <form action="/" method="POST">
        Name: <input type="text" name="name"placeholder="Name" /><br/>
        Image: <input type="url" name="image" placeholder="Image url"><br>
        About: <input type="text" name="about" /><br/>
        Origin: <input type="text" name="origin"placeholder="Origin" /><br/>
        Rating: <input type="number" name="rating"placeholder="Rating" /><br/>


        <input type="submit" value="Create Drink"/>
    
</body>
</html>