body {
background-color: bisque;
}

h1 {
    text-align: center;
}

.container {
  display:flex;
  flex-direction: row;
 
  margin: auto;
  background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/cfbafb86-b3eb-4efc-86cf-9bf893725eb1.jpg?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1067");
  
  }

  .drink-image {
    opacity: 0.9;
    filter: brightness(50%);
  }

  .drink-image:hover {
    filter: brightness(100%);
  }

  ul {
    display:flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    list-style-type: none
  }

  img {
    width: 250px;
    height:250px;
    border: 5px solid rgb(20, 20, 20);
    margin: 30px;
  }

  .new-container{
    display:flex;
    padding: 50px ;
    width:200px;
    margin: auto;
    text-align: center;
    height: 420px;
    background:rgba(221, 221, 232, 0.315);
    
}

.content {
  display:block;
  flex-wrap:nowrap;
  flex-direction: column;
  border-radius: 20px;
  width: 450px;
  height: 500px;
  border: 5px dotted black;
  margin: auto;
  text-align: center;
  list-style-type: none;
 
}

.deletebutton {
  background-color: black;
  color: white;
 
}

.addDrink {
 text-decoration: none;
 list-style-type: none;
 
}