body {
background-color: burlywood;
grid-template-rows: 1fr auto;
 background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/cfbafb86-b3eb-4efc-86cf-9bf893725eb1.jpg?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1067");
  
}

h1 {
    text-align: center;
    font-size: 40px;
}

.container {
  display:flex;
  flex-direction: row;
 flex-wrap: wrap;
  margin: auto;
  /* background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https://d1e00ek4ebabms.cloudfront.net/production/cfbafb86-b3eb-4efc-86cf-9bf893725eb1.jpg?source=next&amp;fit=scale-down&amp;quality=highest&amp;width=1067"); */
  
  }
  

  .drink-image {
    
    filter: brightness(50%);
  }

  .drink-image:hover {
    filter: brightness(100%);
   
  }

  ul {
    display:flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    list-style-type: none
  }

  img {
    width: 300px;
    height:250px;
    border: 5px solid rgb(20, 20, 20);
    margin: 10px;
  }

  .new-container{
    display:flex;
    padding: 50px ;
    width:200px;
    margin: auto;
    text-align: center;
    height: 420px;
    font-weight:bolder;
    background:rgba(221, 221, 232, 0.315);
    
}

.content {
  display:block;
  flex-wrap:nowrap;
  flex-direction: column;
  border-radius: 20px/50px;
  width: 450px;
  height: 500px;
  border: 5px solid black;
  margin: auto;
  text-align: center;
  list-style-type: none;
  background-image: url("https://media.istockphoto.com/photos/old-wooden-board-background-picture-id168450431?b=1&k=20&m=168450431&s=170667a&w=0&h=r7WUwKXoK_t23ptQT15UsdyZ3J-Nle7XzXVB4J0OGM0=");
 
}

.deletebutton {
  background-color: black;
  color: white;
  
}



.addDrink {
 text-decoration: none;
 list-style-type: none;
 text-align: center;

 
}

.footer {
  position:relative;
  margin-top: auto;
  color:white;
  font-size: 25px;
}

.show-about {
  color: white;
 margin: auto;
text-align: justify;
}
.edit-page {
  background-image: url("https://media.istockphoto.com/photos/old-wooden-board-background-picture-id168450431?b=1&k=20&m=168450431&s=170667a&w=0&h=r7WUwKXoK_t23ptQT15UsdyZ3J-Nle7XzXVB4J0OGM0=");
 
  border-radius: 20px/50px;
  width: 270px;
  height: 350px;
  border: 5px solid black;
  margin: auto;
  padding: 45px;
  text-align: center;
  
}

.head {
  background-color: black;
  color: white;
  opacity: 0.6;
  text-decoration: none;
  list-style-type: none;
}

.add-button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid black;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.add-button:hover {
  background: white;
  color: black;
}

.show-name {
  color: white;
  
}